.userInfoModal {
    padding: auto;
    position: fixed;
    display: none;
    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.315) !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 40px 0;
    min-height: 100vh;
}

.userInfoModal .infoBody {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 22px;
    overflow: hidden;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 54px 34px 40px;
}

.closeBtn {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
    background: none;
    border: none;
}
.closeBtn * {
    width: 26px;
    height: 26px;
    color: #d0d5dd;
}

.flex {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
}

.userInfoModal .infoBody .infoContent .col_1 {
    width: 100%;
    max-width: 300px;
    padding-top: 43px;
    position: relative;
    padding: 43px 20px 5px;
}

.userInfoModal .infoBody .infoContent .col_2 {
    width: 100%;
    padding-top: 31px !important;
    position: relative;
    padding: 43px 20px 5px;
}
.avatarBox {
    width: 64px;
    height: 64px;
}
.avatarBox img {
    object-fit: cover;
    width: 64px;
    height: 64px;
}
.avatar {
    width: 64px;
    height: 64px;
    background-color: #d9d9d9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    font-weight: 800;
}
.userInfoModal .infoBody .infoContent .col_1 .subCol {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userInfoModal .infoBody .infoContent .col_2 .subCol {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pt_29 {
    padding-top: 29px;
}
.pt_14 {
    padding-top: 14px;
}
.pt_3 {
    padding-top: 10px;
}
.pt_16 {
    padding-top: 10px;
}
.infoTitle {
    font-size: 14px;
    font-weight: 600;
    color: #344054;
    width: 200px;
}

.infoResult {
    font-size: 14px;
    font-weight: 600;
    color: #667085;
    width: 140px;
    line-height: 14px;
}

.approve button {
    background-color: #34a853;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    gap: 16px;
    width: 205px;
    height: 48px;
    border: none;
    cursor: pointer;
    background: #34a853;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    /* margin-top: 37px; */
}

.save button {
    /* margin-top: 16px; */
    width: 184px;
    height: 48px;
    left: 0px;
    top: 238px;
    border: none;
    background: #344054;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6.25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}
.approve button span {
    background-color: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.save button span {
    display: block;
    margin-right: 8px;
}

.approve button span .icon {
    font-size: 20px;
}

.save button span .icon {
    font-size: 30px;
}

.save button span .icon {
    font-size: 20px;
}

.show {
    display: block;
}
/* ******* Table style *********** */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #34a853;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: #667085;
    font-weight: 600;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* *****  MOBILE STYLES ****** */

@media screen and (max-width: 630px) {
    .userInfoModal {
        /* margin-top:300px ;     */
        overflow-y: scroll;
    }

    .userInfoModal .infoBody {
        padding: 54px 14px 40px;
        max-width: 480px;
    }
    .flex {
        flex-direction: column;
    }
    .userInfoModal .infoBody .infoContent .col_1 {
        max-width: 100%;
    }

    /* *******Button RES******** */
    .save button {
        /* margin-top: 16px; */
        width: 154px;
        height: 38px;
        left: 0px;

        font-size: 14px;
    }
    .approve button span {
        background-color: #fff;
        width: 18px;
        height: 18px;
    }

    .save button span {
        display: block;
        margin-right: 8px;
    }

    .approve button span .icon {
        font-size: 20px;
    }

    .save button span .icon {
        font-size: 30px;
    }

    .save button span .icon {
        font-size: 20px;
    }

    .approve button {
        width: 155px;
        height: 38px;
        gap: 0px;
        font-size: 14px;
        /* margin-top: 37px; */
    }
}
